@use "../../style/variables" as var;
@use "../../style/mixins" as mix;
@use "sass:math";

.kakoFunkcioniraGotvachi {
    background-image: url(../../assets/images/bg-funkc.png);
    .info-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .logo-pic {
            width: 85px;
            margin-top: var.$gutter-base * 2;

            img {
                width: 100%;
            }
        }

        .titles {
            p {
                font-size: var.$heading-size-big;
                padding: 0 var.$gutter-base * 1.5;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            a {
                text-decoration: none;

                .org,
                .grey {
                    @extend %btn-orange;
                    font-size: var.$font-size-base;
                }

                .org {
                    padding: math.div(var.$gutter-base, 1.5) var.$gutter-base *
                        2;
                    position: absolute;
                    left: -10px;
                    top: 0px;
                }

                .grey {
                    padding: math.div(var.$gutter-base, 1.5) var.$gutter-base *
                        2 math.div(var.$gutter-base, 1.5) var.$gutter-base * 5;
                    background-color: var.$text-color-senary;
                    margin-left: var.$gutter-base * 3;
                }
            }
        }

        .infoGotvachi {
            padding: var.$gutter-base * 3.5 var.$gutter-base * 3.5
                var.$gutter-base * 1.5;
        }
    }

    .whyYouShoudBecomeAchef {
        .purposes {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    .steps-criteria {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .howToBecomeChef-cards {
        width: 55%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: normal;
    }

    .whatDidTheySay {
        .titles {
            margin-bottom: 0;
        }

        .reviewers {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .mostAskedQ {
        margin-bottom: var.$gutter-base * 7;
    }
}
